body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.picture {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 1600px;


}

.design {
    text-align: center;
    color: white;
    font-size: 50px
}

#black {
    color: black;
    text-align: center;
    font-size: 30px
}



h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 10px;
}





.footer {
    text-align: center;
    margin-top: 70px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #131625;
}