body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}






.up {}

hr {
    width: 50%;
}

h2 {
    color: black;
    font-size: 30px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.width {
    width: 50%;
    padding-left: 2%;
    padding-right: 3%;
}

.picture {
    width: 50%;
    padding-left: 2%;
    padding-right: 3%;
}


.width img {
    width: 95%;
}

.button {
    border: 2px solid;
    text-decoration: none;
    background-color: brown;
    color: aliceblue
}

.from {
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 50;

}

.border {
    border: 40px;
    padding: 2px;
    border-color: blanchedalmond;
}

.inline {
    border: 1px solid;
    text-decoration: none;
    padding: 2px;
    block-size: 0px;
    background-color: brown;
    color: aliceblue
}

.footer {
    text-align: center;
    margin-top: 100px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #131625;
}

#orange {
    color: orangered;
}