body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.picture {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 1600px;

}

h1 {
    text-align: center;
    color: white;
    height: 3px;
    font-size: 40px;
    padding: 10px;

}

#gray {
    text-align: center;
    color: black;
}

.button {
    text-align: left;
    text-decoration: none;
    padding: 12px 26px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    color: white;
    font-weight: 700px;
}

h2 {
    color: black;
    font-size: 30px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.width {
    width: 50%;
    padding-left: 2%;
    padding-right: 3%;
}

.width img {
    width: 95%;
}



.footer {
    text-align: center;
    margin-top: 100px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #131625;
}

#orange {
    color: orangered;
}